@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top:10%; display:flex;justify-content:center">
    <img src="~/Resources/LogoOnYourInvoice.jpg" alt="index" width="80%" height="80%"> 
</div>
